* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  padding: 15px;
  font-family: "Inter", sens-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 428px;
  max-height: 926px;
  margin: auto;
  background: #f1f1f1;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container {
  max-width: 352px;
  margin: auto;
}

.header {
  color: #fff;
  font: Inter;
  padding: 20px 209px 68px 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/header-bg.png") no-repeat center / cover;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.hello {
  line-height: 29px;
  font-weight: 400;
  font-size: 24px;
}

.hello-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.skill-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.user {
  margin: 22px 0 22px 0;
  max-height: 80px;
  display: flex;
}

.user-name {
  margin: auto;
}

.user-avatar {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 23px;
}

.user-name {
  margin-top: 17px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.user-description {
  margin: auto;
  margin-top: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #776868;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 352px;
  gap: 30px;
  padding-bottom: 22px;
}

.button {
  height: 52px;
  width: 100%;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vk {
  background-color: #4c75a3;
}

.tg {
  background-color: #0088cc;
}

.yt {
  background-color: #ff0000;
}

.hh {
  background-color: #d64030;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  font-size: 24pt;
}

.git {
  background-color: #000;
}

.advertising {
  max-width: 348px;
  height: 51px;
  margin-bottom: 22px;
}

.second {
  height: 20px;
}

.text-advertising {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.line-block {
  padding-bottom: 22px;
}

.line {
  max-width: 250px;
  margin-bottom: 22px;
  text-align: center;
  margin: auto;
}

.price-button {
  text-decoration: none;
  height: 52px;
  width: 100%;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.price-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.form {
  margin: auto;
}

.form-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  margin-bottom: 14px;
}

.input {
  width: 348px;
  height: 28px;
  background-color: #e2e2e2;
}

.name {
  margin-bottom: 14px;
}

.send-button-block {
  justify-content: center;
  display: flex;
  padding: 22px 0 22px 0;
}

.send-button {
  text-decoration: none;
  height: 52px;
  width: 150px;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.signature {
  margin: auto;
  margin-top: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #776868;
}
